@layout('layouts/main')

@section('body')
<h1>Login</h1>
<form method="POST" action="{{ route('auth/store')}}">
  <input type="email" name="email" placeholder="E-mail">
  <input type="password" name="password" placeholder="Senha">
  <button type="submit">Entrar</button>
</form>
<a href="{{ route('user/create') }}">cadastre-se</a>
@endsection
