
<label for="{{ name }}" class="text-gray-400 block text-sm font-medium">{{ text }}</label>
<textarea
  id="{{ name }}"
  name="{{ name }}"
  @if(required)
  required
  @endif
  rows="4"
  class="bg-gray-900 block p-2.5 w-full text-sm text-white rounded-lg border border-gray-900 focus:ring-blue-500 focus:border-blue-500"
  placeholder="{{ placeholder }}"
 >
 @if(value)
{{ flashMessages.get(name, '') }}
 @endif
</textarea>
