<div class="relative w-full pt-[56.25%]">
  <iframe class="absolute top-0 left-0 w-full h-full lg:w-[92%] lg:h-[92%] rounded-lg" src="https://www.youtube.com/embed/{{ url_code }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
