<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="bg-zinc-100">
  <main>

    @include('layouts/partials/header')
    <div class="mt-20">
      @!section('body')
    </div>

  </main>
</body>
</html>
