<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="bg-gray-200 dark:bg-gray-900">
  <main>
    @include('layouts/partials/headerS')
    <div class="mt-20 mb-10">
      @!section('body')
    </div>
  </main>
</body>
</html>
